  body {
    background-color: #0047AB;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

.navbar {
    width: 100%;
    background-color:  #ffffff;
    overflow: auto;
  }
  
  .navbar a {
    float: none;
    padding: 15px;
    color: white;
    text-decoration: none;
    font-size: 17px;
  }
  
  .navbar a:hover {
    background-color: #000;
  }
  
  .active {
    background-color: rgb(35, 174, 202);
  }
  
  @media screen and (max-width: 500px) {
    .navbar a {
      float: none;
      display: block;
    }
  }

*{
    font-family: cursive;
    box-sizing: padding-box;
}

form {
    width: 400px;
    padding: 20px;
    background: rgb(255, 255, 255);
    border-radius: 20px;
}

p {
    text-align: center;
    margin-bottom: 50px;
    color: #06424d;

}

h2 {
    text-align: center;
    margin-bottom: 40px;
    color: #06424d;

}

input {
    display: block;
    border: 2px solid #ccc;
    width: 95%;
    padding: 10px;
    margin: 10px auto;
    border-radius: 5px;

}

label {
    color: #888;
    font-size: 18px;
    padding: 10px;
}

button {
    float: center;
    background: rgb(35, 174, 202);
    padding: 10px 15px;
    color: #fff;
    border-radius: 5px;
    margin-right: 10px;
    border: none;

}

button:hover{
    opacity: .10;
}

.error {
   background: #F2DEDE;
   color: #0c0101;
   padding: 10px;
   width: 95%;
   border-radius: 5px;
   margin: 20px auto;
}

h1 {
    text-align: center;
    color: #06424d;
}

a {
    float: right;
    background: #06424d;
    padding: 10px 15px;
    color: #fff;
    border-radius: 10px;
    margin-right: 10px;
    border: none;
    text-decoration: none;
}

a:hover{
    opacity: .7;
}