$font: 'Poppins', 
sans-serif;

$color1:#ffffff;
$color2:#0047AB;
$color3:#06424d;
$color4:#B9Bab5;

$nav-bg: $color1;
$body-bg: $color2;
$blocks-bg: $color4;
$footer-bg: $color1;


html,
body{
    font-family: $font !important;
}

body{
    margin:0;
    padding:0;
    background-color: $color2 !important;
}

.welkom-title{
    color: white !important;
margin-top: inherit;
    @media only screen and (min-width: 800px) {
margin-top: 30px;
max-width: 30%;
color: $color1;
font-weight: 400;
    }
}

.navbar{
    border-radius: inherit !important;
}

.footer-top{
    display: flex;
    flex-direction: column;
    }
    
footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: $color1;
    color: $color3;
    text-align: center;
}

.goog-te-gadget-simple .goog-te-gadget-icon {
    display: none !important;
}

.goog-te-gadget-simple {
    background: white!important;
    border: 5px solid black!important;
    position: absolute!important;
    z-index: 11!important;
}

#google_translate_element .goog-te-menu-value span {
    color: #0047AB!important;
}

/* Mobile Styles */
@media only screen and (max-width: 600px) {
    .goog-te-gadget-simple {
        width: 100%!important;
        left: 0!important;
        top: 0!important;
    }
}

.goog-te-gadget-simple {
    background: white!important;
    border: 5px solid black!important;
    position: absolute!important;
    left: 0!important;
    top: 0px!important;
    z-index: 11!important;
}

#google_translate_element .goog-te-menu-value span {
    color: #0047AB!important;
}

