html,
body {
  font-family: "Poppins", sans-serif !important;
}

body {
  margin: 0;
  padding: 0;
  background-color: #0047AB !important;
}

.welkom-title {
  color: white !important;
  margin-top: inherit;
}
@media only screen and (min-width: 800px) {
  .welkom-title {
    margin-top: 30px;
    color: #ffffff;
    font-weight: 400;
  }
}

.navbar {
  border-radius: inherit !important;
}

.footer-top {
  display: flex;
  flex-direction: column;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #ffffff;
  color: #06424d;
  text-align: center;
}

.goog-te-gadget-simple .goog-te-gadget-icon {
  display: none !important;
}

.goog-te-gadget-simple {
  background: white !important;
  border: 5px solid black !important;
  position: absolute !important;
  z-index: 11 !important;
}

#google_translate_element .goog-te-menu-value span {
  color: #0047AB !important;
}

/* Mobile Styles */
@media only screen and (max-width: 600px) {
  .goog-te-gadget-simple {
    width: 100% !important;
    left: 0 !important;
    top: 0 !important;
  }
}
.goog-te-gadget-simple {
  background: white !important;
  border: 5px solid black !important;
  position: absolute !important;
  left: 0 !important;
  top: 0px !important;
  z-index: 11 !important;
}

#google_translate_element .goog-te-menu-value span {
  color: #0047AB !important;
}

.images {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: nowrap;
  margin-top: -7px;
}
@media only screen and (min-width: 280px) {
  .images {
    margin-top: 5px;
  }
}
@media only screen and (min-width: 900px) {
  .images {
    gap: 200px;
  }
}
.images img {
  max-width: 50%;
  max-height: 50%;
}
@media only screen and (min-width: 560px) {
  .images img {
    max-width: 250px;
    max-height: 200px;
  }
}
@media only screen and (max-width: 269px) {
  .images img {
    display: none;
  }
}
#chat-container {
  max-width: 400px;
  margin: 50px auto;
  padding: 20px;
  border: 1px solid #ccc;
}

#chat-output {
  height: 200px;
  overflow: auto;
  border-bottom: 1px solid #ccc;
  margin-bottom: 10px;
}

input, button {
  margin-top: 10px;
}
